<div ng-cloak>
    <div ng-switch="isAuthenticated()">
        <div class="well goat-bg" ng-switch-when="false">
            <div class="row voffset-250">
                <div class="col-md-5 col-md-offset-6 dark-neutral-bg">
                    <h1 translate="main.title">Nimble Calendar</h1>
                    <p class="lead" translate="main.subtitle">Full Calendar Visualization of Project Activities</p>
                    <div class="alert alert-warning" translate="global.messages.info.register">
                        Don't have an account? <a href=\"#/register\">Register</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-switch-when="true">
            <div class="alert alert-success" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                You are logged in as user "Admin".
            </div>
            <div ng-hide="projectFeeds.length" class="alert alert-warning" translate="main.logged.noprojectfeeds">You don't have any project feeds yet.</div>
            <div ng-show="projectFeeds.length">
                <label for="projectFeedButton">Selected Project Feed</label>
                <div id="projectFeedButton" class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{selectedProjectFeed.title}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="projectFeed in projectFeeds"><a href="#">{{projectFeed.title}}</a></li>
                    </ul>
                </div>
            </div>
            <div  ui-calendar ng-model="eventSources"></div>
        </div>
    </div>
</div>
