<div>

    <h2 translate="nimblecalApp.gitHubFeed.home.title">GitHubFeed</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveGitHubFeedModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="nimblecalApp.gitHubFeed.home.createLabel">Create a new GitHubFeed</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveGitHubFeedModal" tabindex="-1" role="dialog" aria-labelledby="myGitHubFeedLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myGitHubFeedLabel" translate="nimblecalApp.gitHubFeed.home.createOrEditLabel">Create or edit a GitHubFeed</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="gitHubFeed.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="nimblecalApp.gitHubFeed.repositoryURL">RepositoryURL</label>
                            <input type="text" class="form-control" name="repositoryURL"
                                   ng-model="gitHubFeed.repositoryURL" required>

                            <div ng-show="editForm.repositoryURL.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.repositoryURL.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="nimblecalApp.gitHubFeed.projectFeed">projectFeed</label>
                            <select class="form-control" name="projectFeed" ng-model="gitHubFeed.projectFeed.id" ng-options="projectFeed.id as projectFeed.repositoryURL for projectFeed in projectFeeds">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteGitHubFeedConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(gitHubFeed.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="nimblecalApp.gitHubFeed.delete.question" translate-values="{id: '{{gitHubFeed.id}}'}">Are you sure you want to delete this GitHubFeed?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="nimblecalApp.gitHubFeed.repositoryURL">RepositoryURL</th>
                    <th translate="nimblecalApp.gitHubFeed.projectFeed">projectFeed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gitHubFeed in gitHubFeeds">
                    <td><a ui-sref="gitHubFeedDetail({id:gitHubFeed.id})">{{gitHubFeed.id}}</a></td>
                    <td>{{gitHubFeed.repositoryURL}}</td>
                    <td>{{gitHubFeed.projectFeed.repositoryURL}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="gitHubFeedDetail({id:gitHubFeed.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(gitHubFeed.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(gitHubFeed.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
